@model ShopTARge22.Models.Forecast.OpenWeatherViewModel;


<div class="container">
    <header class="major">
        <h2>@Html.DisplayFor(model => model.City)</h2>
    </header>
    <h2>Foreast for the selected city</h2>
    <ul class="features">
        <li>
            <label asp-for="Temp" class="col-sm-2 col-form-label"></label>
            <span>@Model.Temp °C</span>
        </li>

        <li>
            <label asp-for="FeelsLike" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.FeelsLike) °C
        </li>

        <li>
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Description)
        </li>

        <li>
            <label asp-for="Pressure" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Pressure)
        </li>

        <li>
            <label asp-for="Humidity" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Humidity)
        </li>

        <li>
            <label asp-for="WindSpeed" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.WindSpeed)
        </li>

    </dl>
@*     <a asp-action="Index" asp-controller="WeatherForecasts" class="btn btn-outline-danger">Back</a>
 *@</div>

<div class="container">
    <form method="get">
        <button asp-action="Index" asp-controller="WeatherForecasts" class="button">Back</button>
    </form>
</div>