@model ShopTARge22.Models.Cocktails.CocktailViewModel;


<div class="container">
    <header class="major">
        <h2>@Html.DisplayFor(model => model.StrDrink)</h2>
    </header>
    <h2>Cocktails</h2>
    <ul class="features">
        <li>
            <label asp-for="IdDrink" class="col-sm-2 col-form-label"></label>
            <span>@Html.DisplayFor(model => model.IdDrink)</span>
        </li>

        <li>
            <label asp-for="StrDrinkAlternate" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrDrinkAlternate)
        </li>

        <li>
            <label asp-for="StrTags" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrTags)
        </li>

        <li>
            <label asp-for="StrCategory" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrCategory)
        </li>

        <li>
            <label asp-for="StrIBA" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIBA)
        </li>

        <li>
            <label asp-for="StrAlcoholic" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrAlcoholic)
        </li>

        <li>
            <label asp-for="StrGlass" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrGlass)
        </li>

        <li>
            <label asp-for="StrInstructions" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrInstructions)
        </li>

        <li>
            <label asp-for="StrDrinkThumb" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrDrinkThumb)
        </li>

        <li>
            <label asp-for="StrIngredient1" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient1)
        </li>

        <li>
            <label asp-for="StrIngredient2" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient2)
        </li>

        <li>
            <label asp-for="StrIngredient3" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient3)
        </li>

        <li>
            <label asp-for="StrIngredient4" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient4)
        </li>

        <li>
            <label asp-for="StrIngredient5" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient5)
        </li>

        <li>
            <label asp-for="StrIngredient6" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient6)
        </li>

        <li>
            <label asp-for="StrIngredient7" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient7)
        </li>


        <li>
            <label asp-for="StrIngredient8" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient8)
        </li>

        <li>
            <label asp-for="StrIngredient9" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient9)
        </li>

        <li>
            <label asp-for="StrIngredient10" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient10)
        </li>

        <li>
            <label asp-for="StrIngredient11" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient11)
        </li>

        <li>
            <label asp-for="StrIngredient12" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient12)
        </li>

        <li>
            <label asp-for="StrIngredient13" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient13)
        </li>

        <li>
            <label asp-for="StrIngredient14" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient14)
        </li>

        <li>
            <label asp-for="StrIngredient15" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrIngredient15)
        </li>
        
        <li>
            <label asp-for="StrMeasure1" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.StrMeasure1)

        <li>
            <label asp-for="StrMeasure2" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure2)
        </li>

        <li>
            <label asp-for="StrMeasure3" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure3)
        </li>

        <li>
            <label asp-for="StrMeasure4" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure4)
        </li>

        <li>
            <label asp-for="StrMeasure5" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure5)
        </li>

        <li>
            <label asp-for="StrMeasure6" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure6)
        </li>

                <li>
            <label asp-for="StrMeasure7" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure7)
        </li>

        <li>
            <label asp-for="StrMeasure8" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure8)
        </li>

        <li>
            <label asp-for="StrMeasure9" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure9)
        </li>

        <li>
            <label asp-for="StrMeasure10" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure10)
        </li>

        <li>
            <label asp-for="StrMeasure11" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure11)
        </li>

        <li>
            <label asp-for="StrMeasure12" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure12)
        </li>

        <li>
            <label asp-for="StrMeasure13" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure13)
        </li>

        <li>
            <label asp-for="StrMeasure14" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure14)
        </li>

        <li>
            <label asp-for="StrMeasure15" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure15)
        </li>

        <li>
            <label asp-for="StrImageSource" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrImageSource)
        </li>

        <li>
            <label asp-for="StrImageAttribution" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrImageAttribution)
        </li>

        <li>
            <label asp-for="StrCreativeCommonsConfirmed" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrCreativeCommonsConfirmed)
        </li>

        <li>
            <label asp-for="DateModified" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.DateModified)
        </li>
        </dl>
        @*     <a asp-action="Index" asp-controller="WeatherForecasts" class="btn btn-outline-danger">Back</a>
        *@
</div>

<div class="container">
    <form method="get">
        <button asp-action="Index" asp-controller="WeatherForecasts" class="button">Back</button>
    </form>
</div>