@model ShopTARge22.Models.Cocktails.CocktailViewModel;


<div class="container">
    <header class="major">
        <h2>@Html.DisplayFor(model => model.StrDrink)</h2>
    </header>
    <h2>Cocktails</h2>
    <ul class="features">
        @if (Model.IdDrink != null && !String.IsNullOrEmpty(Model.IdDrink))
        {
            <li>
                <label asp-for="IdDrink" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.IdDrink)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.IdDrink)
        }

        @if (Model.StrDrinkAlternate != null && !String.IsNullOrEmpty(Model.StrDrinkAlternate))
        {
            <li>
                <label asp-for="StrDrinkAlternate" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrDrinkAlternate)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrDrinkAlternate)
        }

        @if (Model.StrTags != null && !String.IsNullOrEmpty(Model.StrTags))
        {
            <li>
                <label asp-for="StrTags" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrTags)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrTags)
        }

        @if (Model.StrVideo != null && !String.IsNullOrEmpty(Model.StrVideo))
        {
            <li>
                <label asp-for="StrVideo" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrVideo)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrVideo)
        }

        @if (Model.StrCategory != null && !String.IsNullOrEmpty(Model.StrCategory))
        {
            <li>
                <label asp-for="StrCategory" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrCategory)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrCategory)
        }

        @if (Model.StrIBA != null && !String.IsNullOrEmpty(Model.StrIBA))
        {
            <li>
                <label asp-for="StrIBA" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIBA)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIBA)
        }

        @if (Model.StrAlcoholic != null && !String.IsNullOrEmpty(Model.StrAlcoholic))
        {
            <li>
                <label asp-for="StrAlcoholic" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrAlcoholic)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrAlcoholic)
        }

        @if (Model.StrGlass != null && !String.IsNullOrEmpty(Model.StrGlass))
        {
            <li>
                <label asp-for="StrGlass" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrGlass)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrGlass)
        }

        @if (Model.StrInstructions != null && !String.IsNullOrEmpty(Model.StrInstructions))
        {
            <li>
                <label asp-for="StrInstructions" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrInstructions)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrInstructions)
        }

        @if (Model.StrInstructionsES != null && !String.IsNullOrEmpty(Model.StrInstructionsES))
        {
            <li>
                <label asp-for="StrInstructionsES" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrInstructionsES)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrInstructionsES)
        }

        @if (Model.StrInstructionsDE != null && !String.IsNullOrEmpty(Model.StrInstructionsDE))
        {
            <li>
                <label asp-for="StrInstructionsDE" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrInstructionsDE)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrInstructionsDE)
        }

        @if (Model.StrInstructionsFR != null && !String.IsNullOrEmpty(Model.StrInstructionsFR))
        {
            <li>
                <label asp-for="StrInstructionsFR" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrInstructionsFR)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrInstructionsFR)
        }

        @if (Model.StrInstructionsIT != null && !String.IsNullOrEmpty(Model.StrInstructionsIT))
        {
            <li>
                <label asp-for="StrInstructionsIT" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrInstructionsIT)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrInstructionsIT)
        }

        @if (Model.StrInstructionsZHHANS != null && !String.IsNullOrEmpty(Model.StrInstructionsZHHANS))
        {
            <li>
                <label asp-for="StrInstructionsZHHANS" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrInstructionsZHHANS)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrInstructionsZHHANS)
        }

        @if (Model.StrInstructionsZHHANT != null && !String.IsNullOrEmpty(Model.StrInstructionsZHHANT))
        {
            <li>
                <label asp-for="StrInstructionsZHHANT" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrInstructionsZHHANT)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrInstructionsZHHANT)
        }

        @if (Model.StrDrinkThumb != null && !String.IsNullOrEmpty(Model.StrDrinkThumb))
        {
            <li>
                <label asp-for="StrDrinkThumb" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrDrinkThumb)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrDrinkThumb)
        }

        @if (Model.StrIngredient1 != null && !String.IsNullOrEmpty(Model.StrIngredient1))
        {
            <li>
                <label asp-for="StrIngredient1" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient1)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient2)
        }

        @if (Model.StrIngredient2 != null && !String.IsNullOrEmpty(Model.StrIngredient2))
        {
            <li>
                <label asp-for="StrIngredient2" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient2)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient2)
        }

        @if (Model.StrIngredient3 != null && !String.IsNullOrEmpty(Model.StrIngredient3))
        {
            <li>
                <label asp-for="StrIngredient3" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient3)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient3)
        }

        @if (Model.StrIngredient4 != null && !String.IsNullOrEmpty(Model.StrIngredient4))
        {
            <li>
                <label asp-for="StrIngredient4" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient4)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient4)
        }

        @if (Model.StrIngredient5 != null && !String.IsNullOrEmpty(Model.StrIngredient5))
        {
            <li>
                <label asp-for="StrIngredient5" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient5)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient5)
        }

        @if (Model.StrIngredient6 != null && !String.IsNullOrEmpty(Model.StrIngredient6))
        {
            <li>
                <label asp-for="StrIngredient6" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient6)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient6)
        }

        @if (Model.StrIngredient7 != null && !String.IsNullOrEmpty(Model.StrIngredient7))
        {
            <li>
                <label asp-for="StrIngredient7" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient7)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient7)
        }

        @if (Model.StrIngredient8 != null && !String.IsNullOrEmpty(Model.StrIngredient8))
        {
            <li>
                <label asp-for="StrIngredient8" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient8)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient8)
        }

        @if (Model.StrIngredient9 != null && !String.IsNullOrEmpty(Model.StrIngredient9))
        {
            <li>
                <label asp-for="StrIngredient9" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient9)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient9)
        }

        @if (Model.StrIngredient10 != null && !String.IsNullOrEmpty(Model.StrIngredient10))
        {
            <li>
                <label asp-for="StrIngredient10" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient10)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient10)
        }

        @if (Model.StrIngredient11 != null && !String.IsNullOrEmpty(Model.StrIngredient11))
        {
            <li>
                <label asp-for="StrIngredient11" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient11)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient11)
        }

        @if (Model.StrIngredient12 != null && !String.IsNullOrEmpty(Model.StrIngredient12))
        {
            <li>
                <label asp-for="StrIngredient12" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient12)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient12)
        }

        @if (Model.StrIngredient13 != null && !String.IsNullOrEmpty(Model.StrIngredient13))
        {
            <li>
                <label asp-for="StrIngredient13" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient13)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient13)
        }

        @if (Model.StrIngredient14 != null && !String.IsNullOrEmpty(Model.StrIngredient14))
        {
            <li>
                <label asp-for="StrIngredient14" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient14)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient14)
        }

        @if (Model.StrIngredient15 != null && !String.IsNullOrEmpty(Model.StrIngredient15))
        {
            <li>
                <label asp-for="StrIngredient15" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrIngredient15)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrIngredient15)
        }

        @if (Model.StrMeasure1 != null && !String.IsNullOrEmpty(Model.StrMeasure1))
        {
            <li>
                <label asp-for="StrMeasure1" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure1)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure1)
        }

        @if (Model.StrMeasure2 != null && !String.IsNullOrEmpty(Model.StrMeasure2))
        {
            <li>
                <label asp-for="StrMeasure2" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure2)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure2)
        }

        @if (Model.StrMeasure3 != null && !String.IsNullOrEmpty(Model.StrMeasure3))
        {
            <li>
                <label asp-for="StrMeasure3" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure3)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure3)
        }

        @if (Model.StrMeasure4 != null && !String.IsNullOrEmpty(Model.StrMeasure4))
        {
            <li>
                <label asp-for="StrMeasure4" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure4)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure4)
        }

        @if (Model.StrMeasure5 != null && !String.IsNullOrEmpty(Model.StrMeasure5))
        {
            <li>
                <label asp-for="StrMeasure5" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure5)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure5)
        }

        @if (Model.StrMeasure6 != null && !String.IsNullOrEmpty(Model.StrMeasure6))
        {
            <li>
                <label asp-for="StrMeasure6" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure6)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure6)
        }

        @if (Model.StrMeasure7 != null && !String.IsNullOrEmpty(Model.StrMeasure7))
        {
            <li>
                <label asp-for="StrMeasure7" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure7)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure7)
        }

        @if (Model.StrMeasure8 != null && !String.IsNullOrEmpty(Model.StrMeasure8))
        {
            <li>
                <label asp-for="StrMeasure8" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure8)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure8)
        }

        @if (Model.StrMeasure9 != null && !String.IsNullOrEmpty(Model.StrMeasure9))
        {
            <li>
                <label asp-for="StrMeasure9" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure9)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure9)
        }

        @if (Model.StrMeasure10 != null && !String.IsNullOrEmpty(Model.StrMeasure10))
        {
            <li>
                <label asp-for="StrMeasure10" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure10)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure10)
        }

        @if (Model.StrMeasure11 != null && !String.IsNullOrEmpty(Model.StrMeasure11))
        {
            <li>
                <label asp-for="StrMeasure11" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure11)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure11)
        }

        @if (Model.StrMeasure12 != null && !String.IsNullOrEmpty(Model.StrMeasure12))
        {
            <li>
                <label asp-for="StrMeasure12" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure12)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure12)
        }

        @if (Model.StrMeasure13 != null && !String.IsNullOrEmpty(Model.StrMeasure13))
        {
            <li>
                <label asp-for="StrMeasure13" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure13)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure13)
        }

        @if (Model.StrMeasure14 != null && !String.IsNullOrEmpty(Model.StrMeasure14))
        {
            <li>
                <label asp-for="StrMeasure14" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure14)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure14)
        }

        @if (Model.StrMeasure15 != null && !String.IsNullOrEmpty(Model.StrMeasure15))
        {
            <li>
                <label asp-for="StrMeasure15" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrMeasure15)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrMeasure15)
        }

        @if (Model.StrImageSource != null && !String.IsNullOrEmpty(Model.StrImageSource))
        {
            <li>
                <label asp-for="StrImageSource" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrImageSource)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrImageSource)
        }

        @if (Model.StrImageAttribution != null && !String.IsNullOrEmpty(Model.StrImageAttribution))
        {
            <li>
                <label asp-for="StrImageAttribution" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrImageAttribution)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrImageAttribution)
        }

        @if (Model.StrCreativeCommonsConfirmed != null && !String.IsNullOrEmpty(Model.StrCreativeCommonsConfirmed))
        {
            <li>
                <label asp-for="StrCreativeCommonsConfirmed" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.StrCreativeCommonsConfirmed)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.StrCreativeCommonsConfirmed)
        }

        @if (Model.DateModified != null && !String.IsNullOrEmpty(Model.DateModified))
        {
            <li>
                <label asp-for="DateModified" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.DateModified)
            </li>
        }
        else
        {
            @Html.HiddenFor(model => model.DateModified)
        }
        </dl>
</div>

<div class="container">
    <form method="get">
        <button asp-controller="cocktails" asp-action="Index" class="btn btn-success">Index</button>
    </form>
</div>